{% extends 'base.html' %}
{% block content %}
<h2>Registered Refugees</h2>
{% if registrations %}
	<table>
		<tr>
			<th>Name</th>
			<th>Country</th>
			<th>Date of Birth</th>
            <th>Urgent Needs</th>
            <th>Medical Information</th>
            <th>Additional Information</th>
		</tr>
		{% for person in registrations %}
			<tr>
				<td>{{ person.name }}</td>
				<td>{{ person.country }}</td>
				<td>{{ person.date }}</td>
                <td>{{ person.urgent }}</td>
                <td>{{ person.medical_information }}</td>
                <td>{{ person.additional }}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No registrations found yet.</p>
{% endif %}
{% endblock %}

